<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/layui/css/layui.css" th:href="@{/layui/css/layui.css}">
    <script src="/layui/layui.js" th:src="@{/layui/layui.js}"></script>
    <script src="/js/jquery.js" th:src="@{/js/jquery.js}"></script>
    <script src="/js/echarts.min.js" th:src="@{/js/echarts.min.js}"></script>
    <style>
        .flex-box {
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }
        #chart{
            width: 100%;
            height: 400px;
            margin: 20px 0;
        }
    </style>
</head>
<body>

<div class="layui-card">
    <div class="layui-card-header">
        <h3>List of incidents</h3>
    </div>
    <div class="layui-card-body">

        <div id="map" style="width:100%; height: 400px;"></div>


        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA_yaxjGDKLtw8qlGU1FsVTafhZwyYT2PI&callback=Function.prototype"></script>


        <script>
            // initialize map
            const map_parameters = {center: {lat: 40.23069818111977, lng: -77.01303836078226}, zoom: 13};
            const map = new google.maps.Map(document.getElementById('map'), map_parameters);
            let marker
            let marked
        </script>

        <hr>

        <div id="chart" ></div>

        <hr>

        <div th:if="${ not#lists.isEmpty(allIncidents)}">
            <table class="layui-table" id="data-table">
                <thead>
                <tr>
                    <th>Label</th>
                    <th>Incident category</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Status</th>
                    <th>Date</th>
                    <th>Image</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="incident, stat : ${allIncidents}">
                    <td th:text="${incident.incidentIDPK}"></td>
                    <td th:text="${incident.category}"></td>
                    <td th:text="${incident.title}"></td>
                    <td th:text="${incident.description}"></td>
                    <td th:text="${incident.status}"></td>
                    <td th:text="${incident.incidentDate}"></td>
                    <td>
                        <img th:src="${'data:image/png;base64,' + imageList.get(stat.index)}" width="120px" alt="">
                    </td>
                    <script>
                        marker = {
                            incidentIDPK: [[${incident.incidentIDPK}]],
                            latitude: [[${incident.latitude}]],
                            longitude: [[${incident.longitude}]],
                            title: "[[${incident.title}]]",
                            description: "[[${incident.description}]]",
                            image: 'data:image/png;base64,' + "[[${imageList.get(stat.index)}]]"
                        }
                        marked = new google.maps.Marker({
                            position: {lat: marker.latitude, lng: marker.longitude},
                            map: map,
                            label: {
                                color: '#000',
                                fontSize: '12px',
                                fontWeight: '600',
                                text: marker.incidentIDPK.toString()
                            },
                            originData: marker
                        })
                        marked.addListener('click', function () {
                            let infowindow = new google.maps.InfoWindow({
                                content: `
                                        <div>
                                            <p>${this.originData.title}</p>
                                            <p>${this.originData.description}</p>
                                            <img src="${this.originData.image}" width="120px" alt="">
                                        </div>
                                    `
                            })
                            infowindow.open(map, this);
                        });

                    </script>
                </tr>
                </tbody>
            </table>
        </div>
        <a class="layui-btn layui-btn-sm" th:href="@{/incidentform}">Submit incident</a>
        <a class="layui-btn layui-btn-sm" th:href="@{/user/incidents}">My incidents</a>
    </div>
</div>

<script type="text/javascript" th:inline="javascript">


    layui.use('table', function () {
        var table = layui.table
        let dataList = []
        $('#data-table tbody>tr').each((index, item) => {
            dataList.push({
                incidentIDPK: item.querySelector('td:nth-child(1)').innerText,
                category: item.querySelector('td:nth-child(2)').innerText,
                title: item.querySelector('td:nth-child(3)').innerText,
                description: item.querySelector('td:nth-child(4)').innerText,
                status: item.querySelector('td:nth-child(5)').innerText,
                incidentDate: item.querySelector('td:nth-child(6)').innerText,
                image: item.querySelector('td:nth-child(7)>img').src,
            })
        })

        $('#data-table').html('')
        table.render({
            elem: '#data-table'
            , height: 400
            ,page: false
            ,limit: 99999
            , cols: [
                [
                    {field: 'incidentIDPK', title: 'Label', sort: true}
                    , {field: 'category', title: 'Incident category', sort: true}
                    , {field: 'title', title: 'Title', sort: true}
                    , {field: 'description', title: 'Description', sort: true}
                    , {field: 'status', title: 'Status', sort: true}
                    , {field: 'incidentDate', title: 'Date', sort: true}
                    , {
                    field: 'image', title: 'Image', templet: function (row) {
                        return ` <img src="${row.image}" width="120px" alt="">`
                    }
                }
                ]
            ],
            data: dataList
        });


        $.get('/incidentmap/stats', function (res){
            let chart = echarts.init(document.querySelector('#chart'))
            chart.setOption({
                tooltip: {
                    trigger: 'item'
                },
                legend: {
                    orient: 'vertical',
                    left: 'left'
                },
                series: [
                    {
                        name: 'Percentage',
                        type: 'pie',
                        radius: '50%',
                        data: [
                            { value: res.resolvedIncidents, name: 'Resolved incidents last month' },
                            { value: res.newIncidents, name: 'New incidents last month' },
                        ],
                        label: {
                            formatter: '{b}  {d}%'
                        },
                        emphasis: {
                            itemStyle: {
                                shadowBlur: 10,
                                shadowOffsetX: 0,
                                shadowColor: 'rgba(0, 0, 0, 0.5)'
                            }
                        }
                    }
                ]
            })
        })

    })


</script>


</body>
</html>
